body {
    padding    : 0;
    margin     : 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

#wrapper {
    overflow: hidden;
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

#baseImage {
    display: none;
}

#image_canvas {
    width : 100%;
    height: 100%;
}

#statusBarWrapper {
    position               : relative;
    float                  : right;
    background             : black;
    color                  : white;
    min-width              : 25vw;
    border-top-right-radius: 10px;
}

#statusBarWrapper p {
    margin: 2px;
}

#settingsWrapper input[type="number"] {
    width: 75px;
}

#msgWrapper {
    position : absolute;
    min-width: 30px;
    top      : 0px;
    left     : 50%;
    transform: translate(-50%, 0);

    background-color: rgba(20, 20, 20, 70%);
    backdrop-filter : blur(3px);
    color           : white;

    padding                   : 0 1em;
    border-bottom-left-radius : 1em;
    border-bottom-right-radius: 1em;

}

#loadingBarWrapper {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    min-width: 10em;

    color    : white;
    font-size: 2rem;

    background-color: rgba(0, 0, 0, 50%);
    backdrop-filter : blur(5px);
    overflow        : hidden;
    border-radius   : 3px;

    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
}

#loadingBarWrapper>p {
    margin: 0.2em 1em;
}

#loadingBarPercentWrapper {
    height          : 1rem;
    width           : 100%;
    background-color: rgba(0, 0, 0, 50%);
}

#loadingBarPercent {
    height          : 100%;
    width           : 0;
    background-color: rgb(113, 103, 253);
}

/* Tooltip */
tooltip {
    visibility      : hidden;
    background-color: #555;
    color           : #fff;
    text-align      : center;
    border-radius   : 3px;

    padding   : 0.3rem;
    position  : absolute;
    z-index   : 1;
    box-sizing: border-box;

    /* bottom: 125%;
    margin-left: -60px; */
    left: calc(100% + 0.3rem);

    opacity         : 0;
    transition      : opacity 0.3s;
    transition-delay: 1.5s;
}

/* tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
} */

div:hover>tooltip {
    visibility: visible;
    opacity   : 1;
}


/* Button wrappers */
.ButtonWrapper {
    position: absolute;
}

#zoomButtonWrapper {
    bottom: 2px;
    right : 2px;
}

#dialogButtonWrapper {
    top  : 2px;
    right: 2px;
}

#toolBoxWrapper {
    top : 5px;
    left: 5px;
}

.divBtn {
    position       : relative;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;

    padding      : 0.3rem;
    min-width    : 1.2rem;
    min-height   : 1.2rem;
    border-radius: 3px;
    margin       : 0px 0px 2px 0px;
    color        : rgba(0, 0, 0, 70%);
    background   : rgb(207, 207, 207);
}

.divBtn:hover {
    background: rgb(179, 179, 179);
}

.divBtn.active {
    background: rgb(182, 177, 255);
}


#mouseMsg {
    position      : absolute;
    pointer-events: none;
    background    : white;
    border-radius : 3px;
    transform     : translate(3px, 3px);
}

#mouseMsg>p {
    margin: 0.25em 0.5em;
}


#editionContentWrapper:empty {
    text-align: center;
    color     : rgba(0, 0, 0, 50%);
    font-style: italic;

    padding      : 1rem;
    background   : rgba(0, 0, 0, 20%);
    border-radius: 5px;
}

#editionContentWrapper:empty::before {
    content: 'Seleccione un objeto.';
}


#colorFilter {
    position      : absolute;
    pointer-events: none;
    top           : 0;
    left          : 0;
    height        : 100vh;
    width         : 100vw;
}




.disabled {
    display: none !important;
}

.pane {
    position  : absolute;
    top       : 0px;
    right     : 0px;
    box-sizing: border-box;
    height    : 100vh;
    min-width : 25rem;
    overflow-y: auto;

    padding         : 1rem 5rem 2rem 1.5rem;
    background-color: rgba(238, 238, 238, 0.8);
    backdrop-filter : blur(7px);
}

.objectList {
    background-color: rgba(0, 0, 0, 20%);
    border-radius   : 3px;
    padding         : 0.5em;
    margin-top      : 0.5em;
}

.objectList p {
    margin: 0;
}

.objectList:hover,
.objectList.hover {
    background-color: rgba(0, 0, 0, 30%);
}

.objectList.active {
    background-color: rgba(17, 3, 143, 0.3);
}

.scroll {
    overflow-y: auto;
    max-height: 80vh;
}

.listContainer {
    background   : rgba(0, 0, 0, 10%);
    border-radius: 7px;
    padding      : 1rem 0.5rem;
}